
body{
	margin: 0;
	padding: 0;
	background: url(/assets/images/tetons-at-night_2x.png) no-repeat;
	background-size: cover;
	background-color: #091d28;
	background-attachment: fixed;
}
.box{
	width: 25vmax;
	background: rgba(0, 0, 0, 0.4);
	padding: 20px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}
.box-img{
	border-radius: 50%;
	/* width: 11vmax; */
	max-width: 12vmax;
}
.box h1{
	/* font-size: 3vmax; */
	font-size: 5vmin;
	letter-spacing: 4px;
	font-weight: 100;
}
.box h5{
	font-size: 15px;
	letter-spacing: 0px;
	font-weight: 15;
}
.box p{
	text-align: justify;
}

ul{
	margin: 0;
	padding: 0; 
}
.box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.box li a{
	color: white;
	text-decoration: none;
	font-size: 6vmin;
	transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
